.content
{
    width: 100vw;
    height: 100vh;
    text-align: center;    
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-180deg, #f1f1f1 -50%, #010101 10%, #f1f1f1 1000%);
}

header
{
    font-size: clamp(1em, 5vw, 3em);
}

#searchCEP
{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: stretch;    
    margin: 15px auto;    
}

#txtcep
{
    width: 95%;
    border-radius: 5px 0px 0px 5px;
    background-color: transparent;
    outline: none;
    border: 1px solid white;    
    color: white;
    padding: 10px;
    font-size: clamp(1rem, 3vw, 1.5rem);
}

#btn-search
{
    width: 15%;    
    font-size: .6em;
    padding: 5.7px 0px 1px 0px;
    border-radius: 0px 5px 5px 0px;
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    border-left: 0px;
    cursor: pointer;
    color: white;    
}

#btn-search:focus
{
    background-color: white;
    color: black;
}

aside
{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #c2c2c20f;
    width: 85vw;
    padding: calc(12 * 4px) 0px;
    max-width: 805px;
    border-radius: 5px;
}